<h2> Todo List </h2>


<table class = "table table-striped table-hover">
<tr>
	<th>Text</th>
	<th>Group</th>
	<th colspan = 3>Action</th>
</tr>
<% @tasks.each do |t|%>
<tr> 
	<% group = Group.find(t.group_id) %>
	<td><%= t.text %></td>
	<td><%= group.name %></td>
	<td><%= link_to 'Show', group_task_path(group, t) %></td>
	<td><%= link_to 'Edit', edit_group_task_path(group, t) %></td>
	<td><%= link_to 'Delete', group_task_path(group, t), :method => :delete,
	    :data => {:confirm => "Are you sure?"} %></td>
</tr>
<% end %>
</table>

<br>
<%= link_to 'Create', new_group_task_path(:group_id => 4) %>
<%= link_to 'Homepage', root_path %>