<div id="form_head"><%= f.label :text, "Your task" %></div><br>
<%= f.text_area :text, class: "form-control" %><br>

<div id="form_head"><%= f.label :ddl, "Deadline" %></div><br>
<%= f.date_select :ddl, :order => [:day, :month, :year]%><br>

<div id="form_head"><%= f.label :group, "Group" %></div><br>
<%= f.collection_select(:group_id, Group.all, :id, :name) %><br>

<div id="form_head", style="color:red">
<%= check_box_tag :emergency, "yes" %>
<%= label_tag(:emergency, "Emergency") %></div>

<% if @task.errors.any? %>
	<ul class="alert alert-danger">
	<% @task.errors.full_messages.each do |msg| %>
		<li> <%= msg %> </li>
	<% end %>
	</ul>
<% end %>
