<nav class="navbar navbar-default" role="navigation" style="top: -20px;">
  
  <div class="navbar-header">
    <div class="navbar-brand">
      <%= link_to "Todo-Manager", groups_path %>
    </div>
  </div>
  
  <% @groups.each do |g| %>
    <ul class="nav navbar-nav">
      <li><%= link_to g.name, group_tasks_path(g) %></li>
    </ul>
  <%end%>
  
  <div class="form-inline">
    <%= form_tag url_for(:action=>:search,:controller=>:groups), :method => :get do %>
      <%= search_field_tag :q, params[:q], placeholder: "Search tasks", class: "form-control" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <%end%>
  </div>

  <% if current_user %>
    <%= link_to'Log out', destroy_user_session_path, :method => :delete, class: "btn btn-primary" %> |
    <%= link_to'Change Password', edit_registration_path(:user), class: "btn btn-primary" %>
  <% else %>
    <%= link_to'Register', new_registration_path(:user), class: "btn btn-primary" %> |
    <%= link_to'Log in', new_session_path(:user), class: "btn btn-primary" %>
  <% end %>

</nav>
